@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.dark {
  background-color: #222831;
}

.light {
  background-color: #eeeeee;
}

.dark-2 {
  background-color: #393e46;
}

.light-text {
  color: #eeeeee;
  text-decoration: none;
}

.dark-text {
  color: #222831;
  text-decoration: none;
}

.light-bg {
  background-color: #eeeeee;
}

.light-font {
  font-family: "Raleway", sans-serif;
}

.title {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.no-dec {
  text-decoration: none;
  color: #222831;
}

.icon {
  font-size: 25vw;
}

.no-border {
  border: none;
}

.white {
  color: white;
}

.red {
  color: #dc3545;
}

.blue {
  color: #0d6efd;
}

.reg {
  color: #eeeeee;
}

.reg:hover {
  background-color: #394352;
}

.reg:active {
  background-color: #222831;
}

.item {
  background-color: #eeeeee;
}

.item:hover {
  background-color: #dddddd;
}
